go
CREATE DATABASE dbQUANLYNHANSU
go
USE [dbQUANLYNHANSU]
GO
/****** Object:  StoredProcedure [dbo].[DeleteStaff]    Script Date: 15/03/2023 15:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteStaff](@IDMANHANVIEN int )
as

begin tran
 
 delete from tbNHANVIEN where tbNHANVIEN.IDMANHANVIEN=@IDMANHANVIEN

 if(@@ERROR <>0)
   rollback tran
else 
  commit tran

GO
/****** Object:  Table [dbo].[tbLOAINHANVIEN]    Script Date: 15/03/2023 15:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLOAINHANVIEN](
	[IDLOAINHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAINHANVIEN] [nvarchar](300) NULL,
 CONSTRAINT [PK_tbLOAINHANVIEN] PRIMARY KEY CLUSTERED 
(
	[IDLOAINHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbNHANVIEN]    Script Date: 15/03/2023 15:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNHANVIEN](
	[IDMANHANVIEN] [int] NOT NULL,
	[HOTEN] [nvarchar](max) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[NGAYSINH] [date] NULL,
	[SOCHUNGMINH] [nvarchar](50) NULL,
	[NGAYVAOCOQUAN] [date] NULL,
	[IDLOAINHANVIEN] [int] NULL,
	[HESOLUONG] float NULL,
	[MUCLUONG] float NULL,
 CONSTRAINT [PK_tbNHANVIEN] PRIMARY KEY CLUSTERED 
(
	[IDMANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[tbNHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tbNHANVIEN_tbLOAINHANVIEN] FOREIGN KEY([IDLOAINHANVIEN])
REFERENCES [dbo].[tbLOAINHANVIEN] ([IDLOAINHANVIEN])
GO
ALTER TABLE [dbo].[tbNHANVIEN] CHECK CONSTRAINT [FK_tbNHANVIEN_tbLOAINHANVIEN]
GO
insert tbLOAINHANVIEN(TENLOAINHANVIEN)
values ('Nhân viên biên chế')
GO
insert tbLOAINHANVIEN(TENLOAINHANVIEN)
values ('Nhân viên hợp đồng')
GO
insert into tbNHANVIEN(IDMANHANVIEN,HOTEN,NGAYSINH,GIOITINH,SOCHUNGMINH,NGAYVAOCOQUAN,HESOLUONG,MUCLUONG,IDLOAINHANVIEN)
values(1,'Le Văn A','2019-01-01','Nam',12121,'2019-01-01',3.33,null,1)

select * from tbNHANVIEN